<ion-view title="Get Started">
<ion-nav-buttons side="right">
      <button class="button button-dark" ui-sref="signin">
        Sign In <i class="icon ion-chevron-right"></i>
      </button>
    </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="list calculator">
  
  <label class="item item-input">
  <span class="input-label"><i class="icon ion-arrow-right-b"></i>What is your net monthly pay?</span>
  <br />
    <input type="number" ng-model="pay" value="47000" min="47000" max="1000000" step="1000" name="pay"  class="input3" required="yes" />
  </label>
  <label class="item item-input">
  <span class="input-label"><i class="icon ion-arrow-right-b"></i>How much credit do you want?</span>
  <br />
    <input type="number" ng-model="principal" value="40000" min="40000" step="10000" max="500000"  name="credit" class="input1" />
  </label>
  <label class="item item-input">
    <span class="input-label"><i class="icon ion-arrow-right-b"></i>How long do you want it for?</span>
    <br />
    <!--<input type="number" value="3" min="3" step="3" max="12"  name="duration" class="input2" />-->
    <select name="duration" class="input2" ng-model="defaultduration" ng-options="tenure for tenure in durationlist"></select>
  </label>
  <p class="notify orange"></p>
    <p>Total amount to be repaid will be <strong class="repay"></strong>, your monthly payment will be <strong class="monthly"></strong> for <strong class="days"></strong></p>
</div>
    
  </ion-content>
</ion-view>
