<ion-view title="Learn More">
<!--<ion-nav-buttons side="right">
      <button class="button button-dark" ui-sref="signin">
        Sign In <i class="icon ion-chevron-right"></i>
      </button>
    </ion-nav-buttons>-->
  <ion-content class="has-header padding">

  <h3 class="positive">
    What conditions do I need to meet to be eligible for your loans?
  </h3>

  <p>
    <ol>
    <li>You must work and reside in Lagos</li>
    <li>You should be 25 - 55 years old</li>
    <li>You must be a salary earner with a minimum of 1 Year in current employment</li>
    <li>You must not have a history of returned cheques in your account</li>
    <li>Must have a current account (Nuban Complaint) showing salary credits from employer</li>
    </ol>
  </p>
  <h3 class="positive">
    I am employed under a fixed term contract, do I qualify?
  </h3>

  <p>
    Yes, in addition to the conditions above, your approved loan must expire at least 3 months before the end of your fixed term contract, or your retirement.
  </p>
  <h3 class="positive">
    What is the minimum and maximum amount I can borrow?
  </h3>

  <p>
    Our loans range from N40,000 to N500,000. Your One Credit repayment and any other LOAN repayments will not exceed 40% of the customer's net monthly salary.
  </p>
  <h3 class="positive">
    What documents do I need to submit?
  </h3>

  <p>
    <ol>
    <li>Valid identification i.e. driver's license, international passport or national ID</li>
    <li>Staff Identity Card</li>
    <li>One recent passport photograph</li>
    <li>Bank statements showing 6 (most recent) salary credits.&nbsp;Pay slips are compulsory for government workers</li>
    <li>Employment letter and/or promotion letter, confirmation letter or salary review letter(s)</li>
    <li>Monthly repayment cheques dated in line with your salary date</li>
    <li>Security cheque covering full loan repayment amount</li>
    <li>Proof of NGN 2,000 processing fee payment</li>
    </ol>
  </p>
  <h3 class="positive">
    Do I need to come to the branch to apply for a loan?
  </h3>

  <p>
    No, our sales representative will visit you in the office address you have provided.
  </p>
  <h3 class="positive">
    How long will it take to get the money?
  </h3>

  <p>
    Your bank account will be credited within 24 hours after you submit the required documents and we verify.
  </p>
  <h3 class="positive">
    I want to change the amount I have applied for, can I do this?
  </h3>

  <p>
    Yes, you can change the amount before the loan is approved and disbursed. Please note that this may cause delays in the process.
  </p>
  <h3 class="positive">
    When will the repayment be due?
  </h3>

  <p>
    Your first repayment is due on the next salary date after the loan is disbursed into your account and subsequent repayments will be on same day of the month for the entire tenor of the loan. If the next salary date after disbursement is too close, we can move it to the next month and advise you.
  </p>
  <h3 class="positive">
    How do I repay a loan?
  </h3>

  <p>
    Repayment will be taken using the postdated cheques you provide while applying for the loan. We may allow you to make transfers and cash deposits on rare occasion.
  </p>
  <h3 class="positive">
    Can I make a part payment of monthly installment due?
  </h3>

  <p>
    No, we only accept full monthly repayments at the agreed date and intervals, using your postdated cheques.
  </p>
  <h3 class="positive">
    Can I extend my loan?
  </h3>

  <p>
    No. Please ensure you select repayment terms you are comfortable with as One Credit will expect you to strictly adhere to the contract.
  </p>
  <h3 class="positive">
    Can I pay down my outstanding loan before the end of the loan?
  </h3>

  <p>
    Yes, however early settlement does not attract discounts on the interest charge, this means that full interest repayment will be required.
  </p>
  <h3 class="positive">
    Can I have more than 1 loan at a time with you?
  </h3>

  <p>
    No. As responsible lenders, One Credit does not offer multiple loans to any one individual.
  </p>
  <h3 class="positive">
    How long do I have to wait after repaying a loan in full before I can reapply for a new one?
  </h3>

  <p>
    You can apply for a fresh loan instantly. One Credit will consider the performance of your previous loan(s) and your current financial circumstance before approving a fresh one.
  </p>
  <h3 class="positive">
    What happens if I default?
  </h3>

  <p>
    One Credit limited employs the use of debt collectors to recover outstanding amounts due from clients. In addition, prolonged non - repayment/non - settlement will attract Credit Bureau blacklisting and Legal action.
  </p>
  <h3 class="positive">
    How do I apply?
  </h3>

  <p>
    You can apply online or call us, we will send an experienced sales representative to you.
  </p>
  </ion-content>
</ion-view>
