<ion-view title="Get Started">
<!--<ion-nav-buttons side="right">
      <button class="button button-dark" ui-sref="signin" >
        Sign In <i class="icon ion-chevron-right"></i>
      </button>
    </ion-nav-buttons>-->
  <ion-content class="has-header">
  <p style="text-align: center; padding: 10px;"><img src="../img/logo2.png" /></p>
    
    <div class="list">
  
  <label class="item item-input item-stacked-label">
  <span class="input-label"><i class="icon ion-arrow-right-b"></i>What is your net monthly pay?</span>
    <input ng-change="getloan()" type="number" ng-model="pay" min="19000" step="1000" name="pay"  class="input3" required="yes" />
  </label>
  <label class="item item-input item-stacked-label">
  <span class="input-label"><i class="icon ion-arrow-right-b"></i>How much credit do you want?</span>
    <input ng-change="onchange()" type="number" ng-model="principal"  min="40000" step="10000" max="500000"  name="credit" class="input1" />
  </label>
  <label class="item item-input item-stacked-label">
  <span class="input-label"><i class="icon ion-arrow-right-b"></i>Other Loan Repayments (Per Month)</span>
    <input ng-change="onchange()" type="number" ng-model="otherrepayments" min="0" step="1000"  name="otherrepayments" class="input4" />
  </label>
  <label class="item item-input item-stacked-label item-select">
    <span class="input-label"><i class="icon ion-arrow-right-b"></i>How long do you want it for?</span>
    <!--<input type="number" value="3" min="3" step="3" max="12"  name="duration" class="input2" />-->
    <select ng-change="onchange()" name="duration" class="input2" ng-model="defaultduration" ng-options="tenure for tenure in durationlist"></select>
  </label>
  <p>
  <em class="assertive">{{errormessage}}</em></p>
  <p><em>With your salary<!--(<span class="positive">{{pay}}</span>)-->, we suggest a loan of <span class="positive">{{suprincipal.toFixed(2)}} Naira</span> for <span class="positive">{{sudefaultduration}}</span> months</em></p>
<p>
    <em>Total amount to be repaid for this loan is <span class="positive">{{repayment.toFixed(2)}} Naira</span>. Your monthly payment will be <span class="positive">{{monthlyrepayment.toFixed(2)}} Naira</span> per month (for <span class="positive">{{defaultduration}}</span> months)</em></p>
    <button ng-click="show()" class="button button-block button-positive">Apply Now <i class="icon ion-android-send"></i></button>
</div>

    
  </ion-content>
</ion-view>

    <script>
    function addCommas(nStr)
    {
    	nStr += '';
    	x = nStr.split('.');
    	x1 = x[0];
    	x2 = x.length > 1 ? '.' + x[1] : '';
    	var rgx = /(\d+)(\d{3})/;
    	while (rgx.test(x1)) {
    		x1 = x1.replace(rgx, '$1' + ',' + '$2');
    	}
    	return x1 + x2;
    }
    </script>