<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-energized">


  <!-- Learn More Tab -->
  <ion-tab title="Learn More" icon="icon ion-android-lightbulb " href="#/tab/learn">
    <ion-nav-view name="tab-learn"></ion-nav-view>
  </ion-tab>


  <!-- Get Started Tab -->
  <ion-tab title="Get Started" icon="icon ion-android-friends" href="#/tab/start">
    <ion-nav-view name="tab-start"></ion-nav-view>
  </ion-tab>

</ion-tabs>